<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Single Page Application (SPA) приложение для редактирования списка пользователей</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/screen.css" />
    </head>
    <body>
    <h1>Single Page Application (SPA) приложение для редактирования списка пользователей</h1>
    <table class="rwd-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Button</th>
        </tr>
        </thead>
        <tbody id="contacts">

        </tbody>

    </table>
        <script id="contactTemplate" type="text/template">
                <td data-th="name"><%= name %></td>
                <td data-th="tel"><%= tel %></td>
                <td data-th="Button">
                    <a class="button touch edit"></a>
                    <a class="button touch delete"></a>
                </td>
        </script>
        <script id="contactEditTemplate" type="text/template">
            <form action="#">
                <td data-th="name">
                    <input class="name" value="<%= name %>" />
                </td>
                <td data-th="tel">
                    <input class="tel" value="<%= tel %>" />
                </td>

                <td data-th="Button">
                    <a class="button touch save"></a>
                    <a class="button touch cancel"></a>
                </td>
            </form>
        </script>
    <script id="formTemplate" type="text/template">
        <form action="#" id="addContact">
            <td data-th="name">
            <input class="name" value="" placeholder="Введите имя"/>
            </td>
            <td data-th="tel">
            <input class="tel" value=""  placeholder="Введите номер"/>
            </td>

            <td data-th="Button">
            <a class="button touch new" id="add"></a>
            </td>
            </form>
    </script>
        <script src="js/jquery-1.7.1.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/backbone-min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>